
* {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Archivo Black", arial, sans-serif;
  outline: none;
} 

body {
  color: var(--white);
  background-color: var(--dark) ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

html {
  height: 100vh
}
 


a {
  text-decoration: none;

}

  button:hover {
    opacity: 0.9;
    transition: ease-in-out 0.21s
}

textarea:focus, input:focus, a {
  outline: none;
}

