
* {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Archivo Black", arial, sans-serif;
} 

 
body {
  color: #fff;
  background-color: rgb(63 63 70);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem;
}

textarea:focus, input:focus{
  outline: none;
}


  
#__next {
  height: 100vh;
}